.suwar-contanier{
    padding-top: 75px;
    min-height: 92vh;

}
.title{
    width: 100% !important;
    height: 170px;
    background-image: url("../../imgs/bg4.png");
    background-position: center center;
    border-radius: 20px;
}
.title h5{
    padding-top: 30px;
    padding-bottom: 10px;
}
.quran-title h3{
    font-size: 30px;
    text-shadow: 0px 0px 5px #e1b77c ;
    font-weight: bold;
}
.quran-title .line-1{
    background-color: #917650;
    height: 2px;
    width: 15%;
    margin: auto;
    margin-bottom: 5px !important;
}
.quran-title .line-2{
    margin: auto;
    background-color: #917650;
    height: 2px;
    width: 10%;
}
.form-search{
    width: 75%;
    display: flex;
}
.input-search{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-family: 'Segoe UI light';
    font-weight: bold;
    border: 1px solid #76582e;
}
.input-search:focus{
    border: 2px solid #76582e !;
}
.button-search{
    padding: 10px 8px 12px 15px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #917650;
    color: white;
    font-family: 'Segoe UI light';
    font-weight: bold;
    font-size: 18px;
    transition: .5s all;
    border: 1px solid black;
}
.button-search:hover{
    background-color:white ;
    color: #917650;
    border: 1px solid black;
}
.suarhscontainer .reader{
    min-height: 60px;
    width: 175px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    margin: 10px 8px ;
    border-radius: 75px;
    text-align: center;
    color: white;
    background-color: #917650;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    cursor: pointer;
    font-weight: bold;
}
.reader a{
    color: white;
    text-decoration: none;
    transition: .5s all;
}
.suarhscontainer .reader:hover{
    color: #917650;
    background-color: white;
    a{
        color: #917650;
    }
}
.reader a{
    color: white;
    text-decoration: none;
    transition: .5s all;
}
.reader a:hover{
    color: #917650;
}
.reader-notfound{
    width: 350px !important;
}
.loadingSound{
    margin-bottom: 30vh;
}




@media screen and (max-width: 576px) {
.title{
    height: 250px;
}
}
 @media screen  and (min-width: 360px) and (max-width: 361px) { 
    .suarhscontainer .reader{
        width: 125px;
    }
    }
@media screen  and (min-width: 374px) and (max-width: 391px) { 
        .suarhscontainer .reader{
            width: 165px;
        }
        .title{
            height: 270px;
        }
}