
.navbar{
    width: 100% !important;
    background-color: transparent !important;
    position: fixed !important;
    top: 0;
    transition: .5s all !important;

  }
  .navbar-brand{
    letter-spacing:1.5 !important;
    font-size: 29px !important;
    color: white !important;
    margin-right: 8px !important;

  }
  .logo{
    width: 50px !important;
    height: 50px !important;
  }
  .nav-link{
    color: white !important;
    font-weight: bold !important;
    font-size: 16.5px !important;
    font-family: 'Segoe UI';
    margin: 0px 8px;
    transition: .5s all !important;
  }
  .active{
    border-bottom: 2px solid #021230 !important;
    color: #021230 !important;
    padding-bottom: -5px !important;
    font-size: 17px !important;
  }
  .navbar-toggler{
    border: none !important;
    color: white !important;
    
  }
  .navbaar-icon{
    font-size: 30px !important;
  }
  .twasl{
    border: #021230 1px solid !important;
    border-radius: 10px;
    transition: .9s all !important;
  }
  .twasl:hover{
    border: white 1px solid !important;
    border-radius: 10px;
    color: #021230 !important;
    background-color: white !important;
  }
  .navbar_BG{
    background-color:#917650 !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
    
   
  }
  .editDropDown{
    direction: ltr;
   
  }
  .editDropDown .dropdown-menu a{
    direction: ltr !important;
    color: #623d0a;
    transition: .5s all !important;
  }
  .editDropDown .dropdown-menu a:hover{
    direction: ltr !important;
    color: #81510f;
    background-color: #917650;
    color: white;
  }


  @media screen and (max-width: 990px) {
    .editDropDown{
      direction: ltr;
    }
    .editDropDown .dropdown-menu a{
      direction: ltr !important;
      color: #623d0a;
      transition: .5s all !important;
      text-align: center;
    }
    .editDropDown .dropdown-menu a:hover{
      direction: ltr !important;
      color: #81510f;
      background-color: #917650;
      color: white;
    }
  

    .navbar{
      text-align: center;
      border-radius: 15px !important;
    }
    .navbar-list{
      width: 100% !important;
      padding: 10px 0px 10px 0px;
      border-top-right-radius:25px ;
      border-bottom-right-radius:25px ;
      border-bottom-left-radius:25px ;
      border: 1px solid rgb(0, 0, 0);
      background-color:  #917650 !important;
      color: white !important;
   
    }
    .nav-link{
      color: #021230 !important;
  
    }
    .active{
      border-bottom: 1px solid #021230 !important;

    }
    .twasl{
      margin-bottom: 8px !important;
    }
}











